.cache
.DS_Store
.idea
*.log
*.tgz
.temp
coverage
dist
lib-cov
logs
node_modules
temp
tmp
node/compat/upstream/shiki/packages/colorized-brackets/src/themes.ts
node/compat/upstream/shiki/packages/shiki/src/langs
node/compat/upstream/shiki/packages/shiki/src/themes
node/compat/upstream/shiki/packages/shiki/src/*.json
cache
.eslintcache
report-engine-js-compat.json
node/scripts/compares
tm-grammars-themes
target
Cargo.lock
node/ferriki/*.node
node/ferriki/assets/
node/ferriki/dist/*.node
!node/ferriki/dist/
!node/ferriki/dist/**/*.mjs
